@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1C1C1C;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

/* Sidebar scrollbar styles */
.sidebar-nav {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.sidebar-nav::-webkit-scrollbar {
  display: none;
}

.sidebar-nav:hover {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto; /* IE and Edge */
}

.sidebar-nav:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.sidebar-nav:hover::-webkit-scrollbar-track {
  background: #1C1C1C;
}

.sidebar-nav:hover::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}